@use '@/styles/variables' as *;

.scanButton {
    position: fixed;
    right: 5vw;
    top: var(--space-xl);
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-subheading);
    color: var(--color-primary);
    border: 1px solid rgba(77, 225, 170, 0.4);
    border-radius: 50%;
    background: var(--color-bg);
    box-shadow: 0 0 8px inset var(--color-accent-med-light);
    overflow: visible;
    cursor: pointer;
    z-index: 40;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .ring {
        position: absolute;
        border-radius: 5rem;
        overflow: hidden;

        -webkit-mask: radial-gradient(
            farthest-side,
            transparent calc(100% - 2px),
            #fff calc(100% - 2px)
        );
        mask: radial-gradient(
            farthest-side,
            transparent calc(100% - 3px),
            #ffffff calc(100% - 2px)
        );
    }

    .ringOne {
        top: -0.25rem;
        left: -0.25rem;
        height: 3.6rem;
        width: 3.6rem;

        background: conic-gradient(
            from 0,
            transparent 0deg 40deg,
            var(--color-accent) 40deg 90deg,
            transparent 90deg 120deg,
            var(--color-accent-med-light) 120deg 210deg,
            transparent 210deg 290deg,
            var(--color-accent) 290deg 310deg,
            transparent 225deg
        );

        animation: logoSpinBack 6s linear infinite;
    }

    .ringTwo {
        top: -0.7rem;
        left: -0.7rem;
        height: 4.4rem;
        width: 4.4rem;

        background: conic-gradient(
            from 0,
            var(--color-accent) 0deg 120deg,
            var(--color-accent-med-light) 120deg 300deg,
            transparent 100deg
        );
        animation: logoSpin 25s linear infinite;

    }
}

@keyframes logoSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes logoSpinBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.hexBorder {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    transition: transform 0.6s ease, background-color 0.6s ease;
    
    &.borderOne {
        position: fixed;
        width: 3.6rem;
        height: 4rem;
        top: var(--space-lg);
        right: calc(5vw - 2px);
        background-color: var(--color-accent-med-light);
        transform: scale(0.7);
        z-index: 39;
    }

    &.borderTwo {
        position: absolute;
        width: 3.4rem;
        height: 3.8rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--color-bg);
    }

    &.borderThree {
        position: absolute;
        width: 3rem;
        height: 3.4rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--color-accent);
    }

    &.borderFour {
        position: absolute;
        width: 2.8rem;
        height: 3.2rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--color-bg);
    }

    &.borderFive {
        position: absolute;
        width: 2.6rem;
        height: 3rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--color-accent-medium);
    }

    .hexButton {
        position: absolute;
        width: 2.5rem;
        height: 2.9rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg);
        transition: transform 0.5s ease;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
}





@media (min-width: $desktop) {
    .scanButton {
        z-index: 80;
        top: 0.75rem;
        right: 3rem;
        scale: 0.9;
    }
    .hexBorder {
        transition: none;
        display: flex;
        justify-content: center;

        &.borderOne {
            scale: 1.2;
            top: 0.3rem;
            right: 7rem;
            z-index: 80;
        }

        &.quincyBtn {
            display: block;
            right: 2.5rem;
        }
    }

    .hexBorder:nth-of-type(1) {
        right: 11.5rem;
    }
    .hexBorder:nth-of-type(2) {
        right: 16rem;
    }
    .hexBorder:nth-of-type(3) {
        right: 20.5rem;
    }
}

[data-theme="dark"] {
    .btns, .logo {
        background-position: center top;
    }
}