.logo {
    position: fixed;
    right: 1rem;
    top: 0.5rem;
    width: 3.5rem;
    height: 4rem;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: var(--color-primary);
    background: linear-gradient(0deg,rgba(0, 0, 42, 1) 25%, rgba(56, 62, 93, 1) 35%, rgba(112, 123, 145, 1) 40%, rgba(167, 185, 196, 1) 46%, rgba(223, 246, 247, 1) 50%, rgba(223, 246, 247, 1) 75%, rgba(167, 185, 196, 1) 85%, rgba(112, 123, 145, 1) 91%, rgba(56, 62, 93, 1) 95%, rgba(0, 0, 42, 1) 100%);
    background-size: 100% 200%;
    background-position: center bottom;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0.2rem 0 0;
    font-family: var(--font-heading);
    color: var(--color-bg);
    letter-spacing: -5;
    transition: background-position 0.4s ease;
    font-size: 3.6rem;
}

.logoBorder {
    position: fixed;
    right: 0.85rem;
    top: 0.35rem;
    width: 3.8rem;
    height: 4.3rem;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: var(--color-accent);
}

.btns {
    position: absolute;
    width: 2.8rem;
    height: 3.2rem;
    top: 0.1rem;
    left: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--color-primary);
    background: linear-gradient(0deg,rgba(0, 0, 42, 1) 25%, rgba(56, 62, 93, 1) 35%, rgba(112, 123, 145, 1) 40%, rgba(167, 185, 196, 1) 46%, rgba(223, 246, 247, 1) 50%, rgba(223, 246, 247, 1) 75%, rgba(167, 185, 196, 1) 85%, rgba(112, 123, 145, 1) 91%, rgba(56, 62, 93, 1) 95%, rgba(0, 0, 42, 1) 100%);;
    background-size: 100% 200%;
    background-position: center bottom;
    transition: background-position 0.4s ease;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    z-index: 100;
}

.btnBorder {
    background-color: var(--color-accent);
    transition: background-color 0.4s ease;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 3rem;
    height: 3.4rem;
    z-index: 99;
    box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.5);
}

.btnContainer {
    position: fixed;
    right: 1.25rem;
    top: 0.8rem;
    transition: transform 0.6s ease, filter 0.4s ease;
    
}

[data-theme="dark"] {
    .btns, .logo {
        background-position: center top;
    }
}