:root {
    --color-bg: rgb(236, 254, 255);
    --color-primary: rgb(0, 0, 42);
    --color-accent-300: rgb(100,220,230);
    --color-accent-500: rgb(0,150,199);

    --font-heading: var(--font-space-grotesk);
    --font-body: var(--font-dm-sans);
    --font-tech: var(--font-courier-prime);
    
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 0.75rem;
    --space-lg: 1rem;
    --space-xl: 1.5rem;
    --space-xxl: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}



body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-bg);
    padding-inline: 5vw;
    height: 100vh;
}

img,
picture,
video,

svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--font-heading), sans-serif;
}

ul[role="list"],
ol[role="list"] {
  text-decoration: none;
}


//utils 

.primary-text {
    color: var(--color-primary);
}

.secondary-text {
    color: var(--color-accent-500);
}

.light-text {
    color: var(--color-accent-300);
}

.body {
    font-family: var(--font-body);
}

.tech {
    font-family: var(--font-tech), monospace;
}