.html {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxxl);
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxxl);
    justify-content: center;
    align-items: center;
    padding-block-end: var(--space-xxxxl);
}