.footer {
    margin-block-end: 8rem;
    padding-inline: 5vw;
    display: flex;
    align-items: center;
    gap: var(--space-lg);

    .footerNav {
        display: flex;
        gap: var(--space-lg);

        .footerLink {
            color: var(--color-primary)
        }
    }
}