.header {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding-inline: 5vw;
    
    .hero {
        padding-block: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        .heroName {
            display: flex;
            flex-direction: column;
            line-height: 1;
            font-size: var(--fs-heading);

            .lastName {
                font-size: var(--fs-heading-sm);
                letter-spacing: 0.1rem;
            }
        }

        .description {
            font-size: var(--fs-lg);
        }

    }

    .line {
        border: none;
        height: 2px;
        background-color: var(--color-primary);
        background: linear-gradient(to right, transparent, var(--color-primary) 40%, var(--color-primary) 60%, transparent);
    }

    .aboutMeRecents {
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        padding-block: var(--space-lg);

        .status { 
            display: grid;
            grid-template-columns: 2fr 3fr;
            font-size: var(--fs-med);
    
            .label {
                display: flex;
                gap: 0.5rem;
                
                
            }
    
            .milesLink, .currentRead {
                text-decoration: underline;
                text-underline-offset: 0.2rem;
        
                &:link {
                    color: var(--color-accent-500)
                }
                &:visited {
                    color: var(--color-accent-500)
                }
            }
        }
    }


    
    
    .headerNav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-sm);

        .headerNavBtn {
            background-color: var(--color-primary);
            border-radius: var(--br-sm);
            width: 100%;
            padding-block: var(--space-sm);
            font-weight: 600;
            box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }

}