@use '@/styles/mixins.scss' as *;

.header {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding-inline: 5vw;
    
    .hero {
        padding-block: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        .heroName {
            display: flex;
            flex-direction: column;
            line-height: 1;
            font-size: var(--fs-heading);

            .lastName {
                font-size: var(--fs-heading-sm);
                letter-spacing: 0.1rem;
            }
        }

        .description {
            font-size: var(--fs-lg);
        }

    }

    hr {
        @include divider(var(--color-accent))
    }

    .aboutMeRecents {
        display: flex;
        flex-direction: column;
        gap: var(--space-med);
        padding-block: var(--space-lg);

        .status { 
            display: grid;
            grid-template-columns: 2fr 3fr;
            font-size: var(--fs-med);
    
            .label {
                display: flex;
                gap: 0.5rem;
                
                
            }
    
            .milesLink, .currentRead, .currentWork {
                text-decoration: none;
                border-bottom: 2px solid var(--color-accent-light);
                width: fit-content;
        
                &:link {
                    color: var(--color-accent)
                }
                &:visited {
                    color: var(--color-accent)
                }
            }
        }
    }
}
