.section { 
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
}

.title {
    font-size: var(--fs-subheading);
}

.par {
    font-size: var(--fs-med);
    text-align: center;
}

@media (min-width: var(--bp-sm)) {
    .par {
        padding-inline: clamp(0.1rem, -7.6739rem + 25.913vw, 15rem);
    }
}