.Nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-sm);
    padding-inline: 5vw;

    .navBtn {
        background-color: var(--color-surface);
        color: var(--color-primary);
        border-radius: var(--br-sm);
        border: 1px solid var(--color-primary);
        width: 100%;
        padding-block: var(--space-sm);
        font-weight: 600;
        box-shadow: var(--elevated-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:nth-child(2) {
            background-color: var(--color-accent);
            color: var(--color-bg);
        }
    }
}