@use '@/styles/mixins.scss' as *;

.cardsSection {
    width: 100%;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxl);

    .projectCard {
        position: relative;
        border: 1px solid var(--color-accent);
        border-top: 3px solid var(--color-accent);
        border-radius: var(--br-lg);
        width: 100%;
        background-color: var(--color-surface);
        padding: var(--space-med) var(--space-lg) 0;
        display: flex;
        flex-direction: column;
        /* gap: var(--space-lg); */
        box-shadow: var(--elevated-shadow);
        overflow: auto;
        transform: scale(1);

        
        .hook {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);
            font-size: var(--fs-reg);
            transition: font-size 0.4s ease;
            
            .header {
                position: relative;
                display: flex;
                justify-content: space-between;

                .titles {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-size: var(--fs-med);
                    }
                }
                
                img {    
                    border-radius: 0.6rem;
                    height: 3.5rem;
                    width: 3.5rem;
                    transition: width 0.4s ease, height 0.4s ease;
                }

                h2 { 
                    line-height: 1;
                    font-size: var(--fs-subheading);
                    transition: font-size 0.4s ease;
                } 
            }
            
            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-xs);
                padding-bottom: var(--space-lg);
                
                .items {
                    border-radius: var(--br-sm);
                    border: 1px solid var(--color-accent);
                    background-color: var(--color-accent-light);
                    padding: var(--space-xs) var(--space-sm) 0.15rem;
                    display: flex;
                    align-items: center;
                    line-height: 1;

                    [data-theme="dark"] & {
                        border-color: var(--color-primary);
                    }
                }
            }
        }

        hr {
            @include divider(var(--color-accent))
        }
        

        .caseStudy {
            display: grid;
            grid-template-rows: 0fr;

            .innerCase { 
                display: flex;
                flex-direction: column;
                gap: var(--space-xl);
                overflow: hidden;
                opacity: 1;
                min-height: 0;
                transition: opacity 0.8s ease;

                .caseStudySection {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-med);    
                    
                    .caseStudySubHead {
                        line-height: 1;
                        font-size: var(--fs-lg);
                    }

                    .caseStudyPar {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-med)
                    }

                    .caseStudyFutures {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-sm);
                    
                        .caseStudyFuturesItem {
                            list-style-position: inside;
                        }
                    }
                } 
                .video {
                    width: 150px;
                    float: left;
                    margin: 0.2rem 0.5rem 0 0 
                }
            }

            
        }

        .buttons {
            width: 100%;
            display: flex;
            gap: var(--space-med);
            align-self: center;
            justify-content: space-between;
            padding-block: var(--space-lg);
            background-color: var(--color-surface);
            overflow: hidden;
            

            .button {
                padding-block: var(--space-sm);
                font-size: var(--fs-med);
                display: flex;
                justify-content: center;
                width: calc(50% - var(--space-med));
                border-radius: var(--br-med);
                font-weight: 700;
            }

            .caseStudyBtn {
                color: var(--color-bg);
                background-color: var(--color-accent);
                font-family: var(--font-heading);
            }

            .demo {
                text-decoration: none;
                border: 1px solid var(--color-secondary);
                font-size: var(--fs-lg);

                &:visited {
                    color: var(--color-primary);
                }
            }
        }

        &.openCase {
            transform: scale(1.09);
            
            /* .header {

                img {    
                    height: 4.5rem;
                    width: 4.5rem;
                }

                h2 { 
                    font-size: var(--fs-heading-sm);
                } 
            }

            .hook {
                font-size: var(--fs-med);
            } */

            .caseStudy {
                grid-template-rows: 1fr;
                padding: var(--space-lg) 0 0 0;
                .innerCase {
                    opacity: 1;
                }
            }
            
            
        }
    }
}

/* .video { 
    width: 150px;
} */



