@use '@/styles/mixins.scss' as *;

.cardsSection {
    width: 100%;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxl);

    .projectCard {
        position: relative;
        border: 1px solid var(--color-accent);
        border-top: 3px solid var(--color-accent);
        border-radius: var(--br-lg);
        width: 100%;
        background-color: var(--color-bg);
        padding: var(--space-med) var(--space-lg);
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        
        .hook {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);
            font-size: var(--fs-reg);
            transition: font-size 0.4s ease;
            
            .header {
                position: relative;
                display: flex;
                justify-content: space-between;

                .titles {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-size: var(--fs-med);
                    }
                }
                
                img {    
                    border-radius: 0.6rem;
                    height: 3.5rem;
                    width: 3.5rem;
                    transition: width 0.4s ease, height 0.4s ease;
                }

                h2 { 
                    line-height: 1;
                    font-size: var(--fs-subheading);
                    transition: font-size 0.4s ease;
                } 
            }
            
            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-xs);
                
                li {
                    border-radius: var(--br-sm);
                    border: 1px solid var(--color-accent);
                    background-color: var(--color-accent-light);
                    padding: var(--space-xs) var(--space-sm) 0.15rem;
                    display: flex;
                    align-items: center;
                    line-height: 1;
                }
            }
        }

        hr {
            @include divider(var(--color-accent))
        }
        

        .caseStudy {
            height: 2px;
            overflow: hidden;
            transition: height 0.4s ease;
        }

        .buttons {
            width: 100%;
            display: flex;
            gap: var(--space-med);
            align-self: center;
            position: relative;

            .button {
                padding-block: var(--space-sm);
                font-size: var(--fs-med);
                display: flex;
                justify-content: center;
                width: calc(50% - var(--space-med));
                border-radius: var(--br-med);
                overflow: hidden;
                font-weight: 700;
            }

            .caseStudyBtn {
                color: var(--color-bg);
                background-color: var(--color-accent);
                font-family: var(--font-heading);
            }

            .demo {
                text-decoration: none;
                border: 1px solid var(--color-secondary);
                font-size: var(--fs-lg);

                &:visited {
                    color: var(--color-primary);
                }
            }
        }

        &.openCase {
            position: fixed;
            top: 2.5%;
            left: 2.5%;
            height: 95%;
            width: 95%;
            z-index: 100;

            .header {

                img {    
                    height: 4.5rem;
                    width: 4.5rem;
                }

                h2 { 
                    font-size: var(--fs-heading-sm);
                } 
            }

            .hook {
                font-size: var(--fs-med);
            }
            
            
        }
    }
}
